{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<marquee behavior="scroll" direction="left" scrollamount="20">
		<img src="{% static 'images/banners/cover.png' %}" class="img-fluid rounded">
		<img src="{% static 'images/banners/cover2.png' %}" class="img-fluid rounded">
		<img src="{% static 'images/banners/cover3.jpg' %}" class="img-fluid rounded">
	</marquee>
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container-fluid">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.Images.url }}" alt="No Image"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">$ {{ product.price }}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}


	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">University At Buffalo Graduation Gown</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/2.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">University At Buffalo Graduation Cap</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/3.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Masters Tassel w/Standard Yeardate Charm</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/4.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">University At Buffalo-Bachelor's Graduation Gown Set</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/5.png' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Arizona State University Graduation Gown Set</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/6.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">University at Texas, Dallas Graduation Gown Set</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/7.png' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">North Eastern University Graduation Gown Set</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/8.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">University At Buffalo-Doctoral Graduation Gown Set</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


</body>
</html>

{% endblock %}